.navbar {
	height: 150px;
	padding: 0px 100px;
}

.navbar-header {
	padding: 0px 20px;
	margin-top: 58px;
}

.navbar-header h2{

	/*Font styles*/
	color:#444;
}

ul.navbar-nav {

	margin-top:75px;
}

section {
	height: 500px;
	margin-top: 200px;
	/*padding: 0px 78px;*/
	border: 1px solid grey;
}

#landing .page-header {
	text-align: center;
	width: 450px;


}